<div class="page-wrapper">
  <div class="page-main-header">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="page-body-wrapper">
    <div class="page-sidebar">
      <app-side-bar></app-side-bar>
    </div>
    <div class="page-body">
      <!-- Container-fluid starts-->
      <app-page-head></app-page-head>
      <!-- Container-fluid Ends-->

      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- Container-fluid Ends-->
    </div>
    <app-footer></app-footer>
  </div>
</div>
